application.log
build
out
.idea
.gradle
.file-dialog.properties
video/
screenshots/
print/
json/
data/
docs/
src/main/kotlin/recovered/
src/main/kotlin/other/
ffmpegOutput.txt
ShaderError.txt
gui-parameters/
